/*********************************Lato Fonts**********************************/

	@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

/*********************************Lato Fonts**********************************/


body{
	font-family: 'Lato', sans-serif;
	letter-spacing: 2px;
}
a{
	text-decoration: none;
	color: #ffffff;
}
.smoke-header.navbar, .subnavbar, .toolbar{
	background: #423ea2;
}
.smoke-header.navbar:after{
	background: transparent;
}
.nav-heading{
	text-transform: uppercase;
	color: #FFF;
	letter-spacing: 2px;
	font-weight: 300 !important;
}
i.icon-menu{
	background-image: url(../img/burger-menu.png);
	width: 21px;
    height: 14px;
}

.date-pagination ul {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	height: 25px;
	list-style: none;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.date-pagination li {
	position: relative;
	display: block;
	margin: 0px;
	width: 14px;
	height: 14px;
	cursor: pointer;
}
.date-pagination li a {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 50%;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.3);
	text-indent: -999em; /* make the text accessible to screen readers */
	cursor: pointer;
	position: absolute;
}
.date-pagination li a:focus {
	outline: none;
}
.date-tooltip li {
	background: rgba(66,62,162,0.5);
	border-radius: 50%;
	z-index: 1;
	max-width: 20px;
	max-height: 20px;
	-webkit-transition: border-color 0.3s ease;
	transition: border-color 0.3s ease;
}
.date-tooltip li a {
	bottom: auto;
	top: 195%;
	left: 50%;
	visibility: hidden;
	padding: 0 10px;
	width: 80px;
	height: 30px;
	border-radius: 50px;
	background-color: #423ea2;
	color: #fff;
	text-indent: 0;
	line-height: 2;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	text-transform: uppercase;
	color: #FFF;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s ease;
	transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s ease;
}

.date-tooltip li a::after {
	position: absolute;
	left: 50%;
	bottom: 95%;
	margin-left: -10px;
	width: 0;
	height: 0;
	border: solid transparent;
	border-width: 10px;
	border-color: transparent;
	border-bottom-color: #423ea2;
	content: '';
	pointer-events: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.no-touch .date-tooltip li:hover a,
.date-tooltip li.current a {
	z-index: 100;
	visibility: visible;
	opacity: 1;
	-webkit-transform: translateX(-50%) translateY(0%);
	transform: translateX(-50%) translateY(0%);
	-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
	transition: transform 0.3s ease, opacity 0.3s ease;
}

.date-tooltip li.current {
	background: #423ea2;
	width: 16px;
	height: 16px;
}

.date-tooltip li:hover {
	z-index: 100;
}

.no-touch .date-tooltip ul:hover li.current a {
	opacity: 0.2;
}

.date-tooltip ul li.current:hover a {
	opacity: 1;
}

.date-tooltip li:first-child a{
	left: 200%;
}
.date-tooltip li:first-child a::after{
	left: 27%;
}
.date-tooltip li:last-child a{
	left: -110%;
}
.date-tooltip li:last-child a::after{
	left: 76%;
}


.bottom-wrap{
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	/*align-items: center;*/
	justify-content: center;
}
.bottom-wrap.center{
	display: flex;
	align-items: center;
	justify-content: center;
}

.page-content{
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	background: #635fd3;
}

.circle-wrap{
	width: 150%;
    /*height: 480px;*/
    height: 70%;
    background: #FFF;
    border-radius: 50%;
    /*display: flex;
    align-items: flex-start;
    justify-content: center;*/
    position: absolute;
    bottom: -110px;
}

.main-float-button{
	background: #423ea2;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	box-shadow: 0 0 25px rgba(66,62,162,0.59);	
	top: -40px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	z-index: 9999;
}
.main-float-button.active-state{
    background: #635fd3;
}
.main-float-button img{
	width: 48px;
}

.counts-wrap{
	display: block;
	width: 100%;
    height: calc(100% - 70%);
    /*height: 65%;*/
    z-index: 1;
}
.counts-wrap.flex{
	display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    height: 65%;
}

.today-count-wrap, .smoke-till-now-wrap{
	display: flex;
	align-items: center;
	justify-content: space-around;
	/*height: 150px;*/
	height: 100%;
	width: 100%;
}

.today-count-wrap .count-title, .smoke-till-now-wrap .smoke-title{
	color: #656565;
	font-size: 16px;
	text-transform: uppercase;	
}
.today-count-wrap .counts{
	color: #000000;
	font-size: 90px;
}
.smoke-till-now-wrap .smoke{
	color: #000000;
	font-size: 30px;
}


.timer-wrap{}
.timer-wrap .timer-title{
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 18px;
}
.timer{
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	margin: 20px 0;
	position: relative;
}
.timer .hours, .timer .minutes, .timer .seconds{}

.timer .sub-title{
	font-size: 14px;
	color: #FFF;
	font-weight: 300;
}
.timer .time{
	font-size: 48px;
	color: #423ea2;
	text-align: center;
}
.timer .seconds .time{
	font-size: 34px;
}

.count-goal-wrap, .set-goal{
	z-index: 1;
	position: relative;
	width: 100%;
	display: block;
}

.count-goal-wrap{
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 180px;
	width: 100%;
	/*margin-top: 45%;*/
}
.count-goal-wrap .counts, .count-goal-wrap .goals{
	text-align: center;
	width: 50%;
}
.counts .count-title, .goals .goal-title {
    color: #656565;
    font-size: 16px;
    text-transform: uppercase;
}
.counts .count, .goals .goal{
	color: #000000;
    font-size: 90px;
}
.count-goal-wrap .divider{
	width: 1px;
	height: 80%;
	background-color: #8c8c8c;
}
.set-goal-button{
	display: block;
	background: #423ea2;
	color: #FFF;
	border: 2px solid #635fd3;
	padding: 5px;
	height: 40px;
	text-transform: uppercase;
	font-weight: 300;
}
.set-goal-button.active-state{
	background-color: #635fd3;
}
.sidebar.panel{
	background: #FFFFFF; 
}

.history-wrap {
	height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.history-wrap ul.history-list{ 
	width: 100%; 
	list-style: none; 
	padding: 0px;
	display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.history-wrap ul.history-list li{ 
	width: 100px;
    height: 100px;
    margin: 5px;
    position: relative;
}
.history-wrap ul.history-list li .box{
	background:#5754c5; 
	height: 100%;
	border-radius: 50%;
	color: #FFF;
	font-size: 27px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.history-wrap ul.history-list li .box.prev{
	background:#423ea2;
	box-shadow: 0 0 25px rgba(66,62,162,0.59);
}
.history-wrap ul.history-list li .box.prev.active-state{
	background:#FFFFFF;
	color: #5754c5;
}
.history-wrap ul.history-list li .box.current{
	background: #FFFFFF;
	color: #5754c5;
}

/*******************************Lungs Animation*******************************/
.img-wrap{
	width: 280px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-wrap img{
	max-width: 100%;
	height: auto;
	/*mix-blend-mode: hue;*/
}

.images{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	top: -150px;
	/*opacity: 0.5;*/
}
.images .img-wrap:nth-child(1) img{
	opacity: 0.4;
}
.images .img-wrap:nth-child(2) {

  -webkit-animation: fill 6s;
  animation: fill 6s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-iteration-count:1;
  iteration-count:1;

  -webkit-animation-delay: 0s;
  animation-delay: 0s;

  -webkit-animation-direction: down;
  animation-direction: down;

  -webkit-mask-size: 500px 2000px;
  -moz-mask-size: 500px 2000px;
  mask-size: 500px 2000px;

  -webkit-mask-position: 280px 280px; /*changes according to height of images*/
  -moz-mask-position: 280px 280px;
  mask-position: 280px 280px;
  
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, rgba(0, 0, 0, 1)), color-stop(0.25, rgba(0, 0, 0, 1)), color-stop(0.27, rgba(0, 0, 0, 0)), color-stop(0.80, rgba(0, 0, 0, 0)), color-stop(1.00, rgba(0, 0, 0, 0)));
  mask-image: gradient(linear, left top, left bottom, color-stop(0.00, rgba(0, 0, 0, 1)), color-stop(0.25, rgba(0, 0, 0, 1)), color-stop(0.27, rgba(0, 0, 0, 0)), color-stop(0.80, rgba(0, 0, 0, 0)), color-stop(1.00, rgba(0, 0, 0, 0)));
}


@keyframes fill {
  0% {
    -webkit-mask-position: 0 0;
    -moz-mask-position: 0 0;
    mask-position: 0 0;
  }
  51% {
    -webkit-mask-position: 280px 280px;
    -moz-mask-position: 280px 280px;
    mask-position: 280px 280px;
  }
  100% {
    -webkit-mask-position: 150px 150px;
    -moz-mask-position: 150px 150px;
    mask-position: 150px 150px;
  }
}

/********************************Media Queries********************************/

@media only screen and (min-device-width: 481px) {}
@media only screen and (max-device-width: 480px) {}

@media only screen and (max-device-width: 360px) {

.main-float-button {width: 85px;height: 85px;}
/*.count-goal-wrap{ margin-top: 25%;}*/

}

@media only screen and (max-device-width: 320px) {	
.counts-wrap{height: 25%;}
.circle-wrap{height: 75%;}	
.timer-wrap .timer-title {font-size: 16px;}
.timer .time{font-size: 44px;}
.timer .seconds .time{font-size: 32px;}
.counts .count-title, .goals .goal-title{font-size: 14px;}
.counts .count, .goals .goal{font-size: 60px;}
.count-goal-wrap .divider{height: 50%;}
.history-wrap ul.history-list li{width:85px; height: 85px;}
/*.counts-wrap.flex{height: 58%;}*/
}
