<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>History</title>
    <!-- Path to Framework7 Library CSS-->
    <link rel="stylesheet" href="css/framework7.ios.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="css/my-app.css">
  </head>
  <body>
    <!-- Panels overlay-->
    <div class="panel-overlay"></div>
      
    <!-- Left panel with reveal effect-->
    <div class="panel panel-left panel-reveal">
      <div class="content-block">
        <p>Left panel content goes here</p>
      </div>
    </div>
      
    <!-- Right panel with cover effect-->
    <div class="panel sidebar panel-right panel-reveal">
      <div class="content-block list-block">
        
      <ul>
        <li class="item-content">
          <div class="item-inner"><div class="item-title">Home</div></div>
        </li>
        <li class="item-content">
          <div class="item-inner"><div class="item-title">Profile</div></div>
        </li>
        <li class="item-content">
          <div class="item-inner"><div class="item-title">History</div></div>
        </li>
      </ul>

      </div>
    </div>
      
      
    <!-- Views-->
    <div class="views">
      <!-- Your main view, should have "view-main" class-->
      <div class="view view-main">
        <!-- Top Navbar-->
        <div class="navbar smoke-header">
          <div class="navbar-inner">
            <!-- We have home navbar without left link-->
            <div class="center sliding nav-heading">History</div>
            <div class="right">
              <!-- Right link contains only icon - additional "icon-only" class-->
              <!-- <a href="#" data-panel="right"  class="link icon-only open-panel"> <i class="icon icon-menu"></i></a> -->
            </div>
          </div>
        </div>
        <!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
        <div class="pages navbar-through toolbar-through">
          <!-- Page, data-page contains page name-->
          <div data-page="index" class="page">
            <!-- Scrollable page content-->
            <div class="page-content">


              
              <div class="content-block history-wrap">
                  
                  <ul class="history-list">
                    <li>
                      <a href="#" class="box prev add-smoke-modal">1</a>
                    </li>
                    <li>
                      <a href="#" class="box prev add-smoke-modal">2</a>
                    </li>
                    <li>
                      <a href="#" class="box prev add-smoke-modal">3</a>
                    </li>
                    <li>
                      <a href="#" class="box prev add-smoke-modal">4</a>
                    </li>
                    <li>
                      <a href="#" class="box current">5</a>
                    </li>
                    <li>
                      <a href="#" class="box">6</a>
                    </li>
                    <li>
                      <a href="#" class="box">7</a>
                    </li>
                    <li>
                      <a href="#" class="box">8</a>
                    </li>
                    <li>
                      <a href="#" class="box">9</a>
                    </li>
                    <li>
                      <a href="#" class="box">10</a>
                    </li>
                  </ul>
                  


              </div>



              
              
            </div>
          </div>
        </div>
        
      </div>
    </div>


    <div class="modal {{#unless buttons}}modal-no-buttons{{/unless}}">
  <div class="modal-inner">
    {{#if title}}
      <div class="modal-title">{{title}}</div>
    {{/if}}
    {{#if text}}
       <div class="modal-text">{{text}}</div>
    {{/if}}
    {{#if afterText}}
      {{afterText}}
    {{/if}}
  </div>
  {{#if buttons}}
    <div class="modal-buttons">
      {{#each buttons}}
        <span class="modal-button {{#if bold}}modal-button-bold{{/if}}">{{text}}</span>
      {{/each}}
    </div>
  {{/if}}
</div>   
    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="js/framework7.min.js"></script>

    <!-- Path to your app js-->
    <script type="text/javascript" src="js/my-app.js"></script>
  </body>
</html>